.venv/
__pycache__/
*.pyc
*.log

FRONTEND/node_modules/
FRONTEND/dist/
FRONTEND/.npm-cache/

BACKEND/.venv/
BACKEND/uploads/
BACKEND/object-store/

SERVICES/**/__pycache__/
SERVICES/**/.venv/
SERVICES/**/object-store/
